<article class="panel is-primary">
  <p class="panel-heading">Chip Input</p>
  <div class="panel-block">
    <chip-input [suggestions]="suggestionList"></chip-input>
  </div>
</article>

<section class="section">
  <h1 class="title">Reactive form</h1>
  <h2 class="subtitle"></h2>

  <div class="columns">
    <div class="column">
      <article class="panel is-primary">
        <p class="panel-heading">Component</p>

        <div class="panel-block">
          <form [formGroup]="form">
            <chip-input
              [suggestions]="suggestionList"
              formControlName="selection"
            ></chip-input>
          </form>
        </div>
      </article>
    </div>
    <div class="column">
      <article class="message is-primary">
        <div class="message-header">
          <p>form value</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          {{ form.value | json }}
        </div>
      </article>
    </div>
  </div>
</section>

<section class="section">
  <h1 class="title">ngModel</h1>
  <h2 class="subtitle"></h2>

  <div class="columns">
    <div class="column">
      <article class="panel is-primary">
        <p class="panel-heading">Component</p>

        <div class="panel-block">
          <chip-input
            #chipInput
            [suggestions]="suggestionList"
            [(ngModel)]="value"
            (changed)="updateValue($event)"
            formControlName="selection"
          ></chip-input>
        </div>
      </article>
    </div>
    <div class="column">
      <article class="message is-primary">
        <div class="message-header">
          <p>value</p>
          <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
          {{ value }}
        </div>
      </article>
    </div>
  </div>
</section>
